table {
    border: medium green;
    border-collapse: collapse;
    border-spacing: 2pt 2pt
}

.controlDisplay {
}

.controlDisplay div {
}

.controlDisplay div span:nth-child(1) {
  font-weight: bold;
  padding-right:5px;
}

.controlDisplay div:not(:first-child) {
  margin-top:10px;
}

.controlButtons {
}
.controlButtons ul {
  list-style-type: none;
  margin-left: -30px;
}

.controlButtons ul li:not(:first-child) {
  margin-top:10px;
}

.controlButtons button {
  background-color:red;
  color:white;
}

.registers ul {
  list-style-type: none;
  margin-left: -30px;
}

.registers label {
  margin-left: 5px;
  font-size:larger;
  font-family:monospace;
}

section {
  border: 1px solid black;
  margin-bottom: 20px;
}
.displayBlock {
  display:table-cell;
  padding-left:20px;
  padding-right:20px;
  border-right : 1px solid red;
}

#memory label {
  margin-left: 5px;
  font-size:larger;
  font-family:monospace;
}

.memoryCell {
  font-size: 12pt;
  margin-left: 5px;
  border:1px solid black;
}
.registerCell {
  margin-left: 5px;
  font-size: 12pt;
  border:1px solid black;
}

label {
  font-weight: bold;
}

.reading {width: 150; border-style: solid; font-size: 12pt;}

.example {font-family:monospace; align:center; background-color:beige;}

em {font-variant: small-caps; font-style:normal; font-weight: bolder;}

.highlighted {
  background-color: yellow;
}
